[filter]
movies     = movies.m3u
watched    = watched.m3u
rus_movies = rus_movies.m3u
cartoons   = cartoons.m3u

# Сайты, ссылки с которых всегда исключаются из filtered.
# Можно перечислить через запятую или каждый с новой строки (с отступом).
blocked_sites = ashdi.vip, zetvideo.net, calypso.tortuga.tw, s10.hdvbua.pro
